@model MerchantPortal.Data.Models.MctVATSetup

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MctVATSetup</h4>
    <hr />
    <dl class="dl-horizontal">
       
        <dt>
            @Html.DisplayNameFor(model => model.VATID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VATID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MerchantID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MerchantName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TerminalId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TerminalName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descriptions)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descriptions)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CountryID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CountryName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VATRegNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VATRegNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsContinuousType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsContinuousType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Percentage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Percentage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsApprove)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsApprove)
        </dd>
       
    </dl>
    
    <form asp-action="DeleteConfirmed">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
