@model IEnumerable<MerchantPortal.Data.Models.MctVATSetup>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
    <a href="/Merchant/Index">Create New</a>
</p>

<div class="row">
    <div class="col-xs-12">
        <h3 class="header smaller lighter blue">VAT List</h3>
        <div class="table-header">
            VAT List
        </div>
        <table id="dtTable" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.MerchantID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TerminalId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Descriptions)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.VATRegNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Percentage)
                    </th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts
    {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#dtTable").DataTable({
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once

                "ajax": {
                    "url": "/MctVATSetup/GetData",
                    "type": "POST",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "merchantName", "name": "MerchantName", "autoWidth": true },
                    { "data": "terminalName", "name": "TerminalName", "autoWidth": true },
                    { "data": "descriptions", "name": "Descriptions", "autoWidth": true },
                    { "data": "vatRegNo", "name": "VATRegNo", "autoWidth": true },
                    { "data": "percentage", "name": "Percentage", "autoWidth": true },

                    {
                        "render": function (data, type, full, meta) {
                            if (full.isActive == false) {
                                return '<span class="label label-sm label-danger">Blocked</span>'
                            } else {
                                return '<span class="label label-sm label-success">Active</span>'
                            }
                        }
                    },
                    {
                        "render": function (data, type, full, meta) {
                            if (full.isActive == false) {
                                return '<a href="/MctVATSetup/Edit/' + full.id + '" class="tooltip-success" data-rel="tooltip" title="Edit"><span class="green"><i class="ace-icon fa fa-pencil-square-o bigger-120"></i></span ></a> <a href="/MctVATSetup/Delete/' + full.id + '" class="tooltip-success" data-rel="tooltip" title="Delete"><span class="red"><i class="ace-icon fa fa-trash-o bigger-120"></i></span ></a> <a href="/MctVATSetup/Details/' + full.id + '" class="tooltip-success" data-rel="tooltip" title="Details"><span class="blue"><i class="ace-icon fa fa-list bigger-110"></i></span ></a> <a href="/MctVATSetup/Active/' + full.id + '" class="tooltip-success" data-rel="tooltip" title="Active"><span class="green"><i class="ace-icon fa fa-toggle-on bigger-120"></i></span ></a>'
                            } else {
                                return '<a href="/MctVATSetup/Edit/' + full.id + '" class="tooltip-success" data-rel="tooltip" title="Edit"><span class="green"><i class="ace-icon fa fa-pencil-square-o bigger-120"></i></span ></a> <a href="/MctVATSetup/Delete/' + full.id + '" class="tooltip-success" data-rel="tooltip" title="Delete"><span class="red"><i class="ace-icon fa fa-trash-o bigger-120"></i></span ></a> <a href="/MctVATSetup/Details/' + full.id + '" class="tooltip-success" data-rel="tooltip" title="Details"><span class="blue"><i class="ace-icon fa fa-list bigger-110"></i></span ></a> <a href="/MctVATSetup/Active/' + full.id + '" class="tooltip-success" data-rel="tooltip" title="Block"><span class="red"><i class="ace-icon fa fa-toggle-off bigger-120"></i></span ></a>'
                            }
                        }
                    }
                ]
            });
        });
    </script>
}

@*<table class="table">
        <thead>
            <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.VATID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Descriptions)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CountryID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.VATRegNo)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Percentage)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsActive)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsApprove)
                    </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VATID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descriptions)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CountryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VATRegNo)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Percentage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsApprove)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new {  id=item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
    }
        </tbody>
    </table>*@
