@*@model MerchantPortal.Models.TransactionViewModel*@
@model IEnumerable<MerchantPortal.Models.TransactionViewModel>

@{
    ViewData["Title"] = "Transaction Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Transaction Search List</h2>

<div class="row">
    <div class="col-md-4" >
        <form asp-action="TransactionSearchs" method="get">
            <div class="form-group">
                @*<label asp-for="FromDate" class="control-label"></label>
                    <input asp-for="FromDate" class="form-control" />*@
                <label class="control-label">From Date</label>
                <input type="date" name="StartStamp" id="StartStamp" class="form-control" />
            </div>
            <div class="form-group">
                @*<label asp-for="ToDate" class="control-label"></label>
                    <input asp-for="ToDate" class="form-control" />*@
                <label class="control-label">To Date</label>
                <input type="date" name="EndStamp" id="EndStamp" class="form-control" />
            </div>
            @*<div class="form-group">
                    <label class="control-label">Status</label>
                    <select name="approvalStatus" class="form-control" asp-items="ViewBag.Status">
                        <option disabled selected>--- SELECT STATUS ---</option>
                    </select>
                </div>*@
            <div class="form-group">
                <input type="submit" value="Search" id="search" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>


<div class="row">
    <div class="col-xs-12">
       
        <div class="table-header">
            Transaction List
        </div>
        <table id="dtTable" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.TransactionRefId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MerchantName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TerminalName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CurrencyName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GLNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EndStamp)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PrincipalAmount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ComissionAmount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.VatAmount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StatusName)
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@*<div id="searchResults">
    @Html.Partial("~/Views/_searchresults.cshtml")
</div>*@

@section Scripts {
<script type="text/javascript">

               @*var url = '@Url.Action("TransactionSearchs", "Transaction")';
               $('#search').click(function() {
                   var startStamp = $('#StartStamp').val();
                   var endStamp = $('#EndStamp').val();
                   $('#searchResults').load(url, { StartStamp: startStamp, EndStamp: endStamp });
               })*@

    $(document).ready(function () {
               var startStamp = $('#StartStamp').val();
               var endStamp = $('#EndStamp').val();
            $("#dtTable").DataTable({
                
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                
                "ajax": {
                    "url": "/Transaction/GetData",
                    "type": "POST",
                    "datatype": "json"
                    //"data": { "StartStamp": merchant, "EndStamp": endStamp }
                  
                },
                "columns": [
                    {
                        "data": "transactionRefId",
                        "render": function (data, type, full, meta) {
                            return '<a href="/Transaction/TransactionDetail/' + full.id + '" >' + full.transactionRefId + '</a>'
                        }, "name": "TransactionRefId", "autoWidth": true
                    },
                    //{ "data": "transactionRefId", "name": "TransactionRefId", "autoWidth": true },
                    {
                        "data": "merchantName",
                        "render": function (data, type, full, meta) {
                            return '<a href="/Merchant/Details/' + full.merchantId + '" >' + full.merchantName + '</a>'
                        }, "name": "MerchantName", "autoWidth": true
                    },
                    {
                        "data": "terminalName",
                        "render": function (data, type, full, meta) {
                            return '<a href="/Terminal/Details/' + full.terminalId + '" >' + full.terminalName + '</a>'
                        }, "name": "TerminalName", "autoWidth": true
                    },

                    { "data": "currencyName", "name": "CurrencyName", "autoWidth": true },
                    { "data": "glNumber", "name": "GLNumber", "autoWidth": true },
                    {
                        data: "endStamp",
                        render: function (d) {
                            return moment(d).format("YYYY-MM-DD hh:mm a");
                        }, "name": "EndStamp", "autoWidth": true
                    },
                    { "data": "principalAmount", "name": "PrincipalAmount", "autoWidth": true },
                    { "data": "comissionAmount", "name": "ComissionAmount", "autoWidth": true },
                    { "data": "vatAmount", "name": "VatAmount", "autoWidth": true },
                    { "data": "statusName", "name": "StatusName", "autoWidth": true },
                    {
                        "render": function (data, type, full, meta) {
                            return '<a href="/Transaction/TransactionDetail/' + full.id + '" class="tooltip-success" data-rel="tooltip" title="Details"><span class="blue"><i class="ace-icon fa fa-list bigger-110"></i></span ></a>'
                        }, "orderable": false
                    }
                ]
            });
        });
</script>
}


























@*<div class="row">
        <div class="col-md-12">

            <table class="table">
                <thead>
                    <tr>
                        <th>
                            SL
                        </th>
                        <th>
                            Exchange House
                        </th>
                        <th>
                            Bank Account
                        </th>
                        <th>
                            Exchage House Account
                        </th>
                        <th>
                            Payment Date
                        </th>
                        <th>
                            Account to be Transferred
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @{
                        int sl = 0;
                    }

                    @foreach (var item in Model)
                    {

                        <tr>
                            <td>
                                @{
                                    sl++;
                                    @sl
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ExHouse.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BankTradeGl.BankAccountNo)
                                -
                                @Html.DisplayFor(modelItem => item.BankTradeGl.BankAccountName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ExHouseGl.BankAccountNo)
                                -
                                @Html.DisplayFor(modelItem => item.ExHouseGl.BankAccountName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PaymentDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Amount)
                            </td>
                            <form asp-action="Approval">
                                <td>
                                    @switch (item.ApprovalStatus)
                                    {
                                        case 1:

                                            <input type="hidden" name="id" value="@item.Id" class="btn btn-default" />

                                            <select name="approvalStatus" class="form-control" asp-items="ViewBag.Status"></select>
                                            break;
                                        case 2:
                                            <span>Amend</span>
                                            break;
                                        case 3:
                                            <span>Reject</span>
                                            break;
                                        case 4:
                                            <span>Approved</span>
                                            break;
                                        default:
                                            <span>New</span>
                                            break;
                                    }
                                </td>

                                <td>
                                    @if (item.ApprovalStatus == 1)
                                    {
                                        <input type="submit" value="Submit" class="btn btn-default" />
                                    }
                                    else if (item.ApprovalStatus == 2)
                                    {
                                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                    }
                                </td>
                            </form>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>*@
