@model MerchantPortal.Data.Models.MctCommissionSetup
@{
    ViewData["Title"] = "Active/Deactive";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model.IsActive == false)
{
    <h2>Active</h2>
}
else
{
    <h2>Block</h2>
}

<div>
    <h4>Commission Setup</h4>
    @if (Model.IsActive == false)
    {
        <h3>Are you sure you want to active this?</h3>
    }
    else
    {
        <h3>Are you sure you want to block this?</h3>
    }
    <hr />
    <div class="row">
        <div class="col-md-5">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.MerchantId)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.MerchantName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.TerminalId)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.TerminalName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.CountryId)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CountryName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.ProductId)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ProductName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.TrnxnType)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.TrnxnType)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.CurrencyId)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CurrencyName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.IsContinuousType)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.IsContinuousType)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.IsPercentage)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.IsPercentage)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.CommissionAmount)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CommissionAmount)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.BankPercentage)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.BankPercentage)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.MinAmount)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.MinAmount)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.IsRoundUpAmount)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.IsRoundUpAmount)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.IsRoundDownAmount)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.IsRoundDownAmount)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.IsActive)
                </dt>
                <dd>
                    @if (Model.IsActive == true)
                    {
                        <div class="label label-sm label-success">Active</div>
                    }
                    else
                    {
                        <div class="label label-sm label-warning">Inactive</div>
                    }
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.IsApprove)
                </dt>
                <dd>
                    @if (Model.IsApprove == true)
                    {
                        <div class="label label-sm label-success">Approved</div>
                    }
                    else
                    {
                        <div class="label label-sm label-warning">Not Approved</div>
                    }
                </dd>              
            </dl>
        </div>
        
    </div>
</div>
<div>
    <form asp-action="ActiveDeactiveConfirm">
        <input type="hidden" asp-for="Id" />
        @if (Model.IsActive == false)
        {
            <input type="submit" value="Active" class="btn btn-success" />
        }
        else
        {
            <input type="submit" value="Block" class="btn btn-danger" />
        }|
        <a asp-action="Index">Back to List</a>
    </form>
</div>


