@model MerchantPortal.Models.BankViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@
@Html.Raw(Model.MessageText)
@using (Html.BeginForm(((ViewData["Operation"] != null && Convert.ToInt32(ViewData["Operation"]) > 0) ? "Edit" : "Create"), "BankViewModel", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-4">
            @*<form asp-action="Create">*@
            <input type="hidden" asp-for="Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SName" class="control-label"></label>
                <input asp-for="SName" class="form-control" />
                <span asp-validation-for="SName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SwiftCode" class="control-label"></label>
                <input asp-for="SwiftCode" class="form-control" />
                <span asp-validation-for="SwiftCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeadOfficeAddress" class="control-label"></label>
                <input asp-for="HeadOfficeAddress" class="form-control" />
                <span asp-validation-for="HeadOfficeAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactNumber" class="control-label"></label>
                <input asp-for="ContactNumber" class="form-control" />
                <span asp-validation-for="ContactNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailAddress" class="control-label"></label>
                <input asp-for="EmailAddress" class="form-control" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                    </label>
                </div>
            </div>
            @*<div class="form-group">
                    <label asp-for="UpdatedBy" class="control-label"></label>
                    <input asp-for="UpdatedBy" class="form-control" />
                    <span asp-validation-for="UpdatedBy" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UpdatedDate" class="control-label"></label>
                    <input asp-for="UpdatedDate" class="form-control" />
                    <span asp-validation-for="UpdatedDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                        </label>
                    </div>
                </div>*@
            <div class="form-group">
                <label class="control-label">Country</label>
                <select asp-for="CountryId" class="form-control" asp-items="ViewBag.CountryId"></select>
            </div>
            <div class="form-group">
                @*<input type="submit" value="Create" class="btn btn-white btn-info btn-bold" />*@
                @*<button class="btn btn-white btn-info btn-bold" type="submit" value="Create">
                        <i class="ace-icon fa fa-floppy-o bigger-120 blue"></i>
                        Save
                    </button>*@

                @*<button class="btn btn-white btn-info btn-bold" type="submit" value="Create">
                        <i class="ace-icon fa fa-floppy-o bigger-120 blue"></i>
                        Save
                    </button>*@

                <input type="submit" value="Create" name="Create" class="btn btn-white btn-info btn-bold"
                       style=@((ViewData["Operation"] != null && Convert.ToInt32(ViewData["Operation"]) > 0) ? "display:none" : "display:block") />
                <input type="submit" value="Update" name="Update" class="btn btn-white btn-info btn-bold"
                       style=@((ViewData["Operation"] != null && Convert.ToInt32(ViewData["Operation"]) > 0) ? "display:block" : "display:none") />
            </div>
            @* </form> *@
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Code)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SwiftCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HeadOfficeAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ContactNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmailAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Active)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.UpdatedBy)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UpdatedDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsDeleted)
                    </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.Country)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in (IEnumerable<MerchantPortal.Models.BankViewModel>)ViewData["Bank"])
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SwiftCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HeadOfficeAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ContactNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmailAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Active)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.UpdatedBy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UpdatedDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsDeleted)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Country.StrCountryName)
                    </td>
                    <td>
                        <a asp-action="Index" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
